@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
nav{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    line-height: 1.5;
}
body{
    width: 100vw;
    overflow-x: hidden;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}
.nav__logo{
    width: 160px;
}


li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #3aace0;
    position: relative;
}
.nav__link{
    font-size: 20px;
    margin-left: 16px;
    padding: 8px;
    font-weight: 700;
}
.nav__link-border{
    border: 2px solid #3aace0;
    border-radius: 4px;
}
ul{
    display: flex;
}
.nav__link:hover{
    text-decoration: underline;
}
.nav__link-border:hover{
    text-decoration: none;
}
#header{
    background-color: rgba(115, 66, 214, 0.1);
}
header{
    min-height: calc(100vh - 80px);
}
.text--blue{
    color: #3aace0;
}
.header__container{
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
img{
    width: 100%;
}
h1{
    font-size: 56px;
    color: #3aace0;
    margin-bottom: 24px;
    text-align: center;
}
h2{
    font-size: 32px;
    margin-bottom: 32px;
    text-align: center;
}
.btn{
    background-color: #3aace0;
    padding: 12px 24px;
    border: none;
    font-size: 20px;
    border-radius: 4px;
    color: white;
}
button{
    cursor: pointer;
}

.header__description{
    display: flex;
    flex-direction: column;
    align-items: center;
}
button:active{
    transform: translateY(1px);
}
.header__img-wrapper{
    padding: 20px;
}
.container{
    padding: 56px 0;
}
.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.highlight__img{
    border: 2px solid #3aace0;
    color: #3aace0;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-size: 32px;
    margin-bottom: 24px;

}
.hightlight_title{
    font-size: 20px;
    margin-bottom: 12px;
   
}
.highlight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 0 24px;
}
.highlight__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.highlight__para{
    max-width: 240px;
    text-align: center;
}
.highlights:after, .highlight:before{
    background: url(/Assets/wave.svg);
    content: "";
    position: absolute;
    width: 101vw;
    height: 12vw;
    left: 0;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
}
.highlight:before{
    transform: translateY(-190%);
    top: 1;
}
.highlights:after{
    transform: translateY(190%) rotate(180deg);
    bottom: 1;
}