@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html{
    scroll-behavior: smooth;
}
nav{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    line-height: 1.5;
}
body{
    width: 100vw;
    overflow-x: hidden;
}
.nav__container{
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav__logo{
    width: 160px;
}


li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #3aace0;
    position: relative;
}
.nav__link{
    font-size: 20px;
    margin-left: 16px;
    padding: 8px;
    font-weight: 700;
}
.nav__link-border{
    border: 2px solid #3aace0;
    border-radius: 4px;
}
ul{
    display: flex;
}
.nav__link:hover{
    text-decoration: underline;
}
.nav__link-border:hover{
    text-decoration: none;
}
#header{
    background-color: rgba(115, 66, 214, 0.1);
}
header{
    min-height: calc(100vh - 80px);
}
.text--blue{
    color: #3aace0;
}
.header__container{
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
img{
    width: 100%;
}
h1{
    font-size: 56px;
    color: #3aace0;
    margin-bottom: 24px;
    text-align: center;
}
h2{
    font-size: 32px;
    margin-bottom: 32px;
    text-align: center;
}
.btn{
    background-color: #3aace0;
    padding: 12px 24px;
    border: none;
    font-size: 20px;
    border-radius: 4px;
    color: white;
}
button{
    cursor: pointer;
}

.header__description{
    display: flex;
    flex-direction: column;
    align-items: center;
}
button:active{
    transform: translateY(1px);
}
.header__img-wrapper{
    padding: 20px;
}
.container{
    padding: 56px 0;
}
.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.highlight__img{
    border: 2px solid #3aace0;
    color: #3aace0;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-size: 32px;
    margin-bottom: 24px;

}
.hightlight_title{
    font-size: 20px;
    margin-bottom: 12px;
    text-align: center;
   
}
.highlight{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding: 0 24px;
}
.highlight__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.highlight__para{
    max-width: 240px;
    text-align: center;
}


.books{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.book__img{
    height: 380px;
    cursor: not-allowed;
    transition: all 300ms ease;
}
#features{
    height: 1000px;
    background-color: rgba(115, 66, 214, 0.1);
}
.book{
    width: 25%;
    padding: 25px;
}
.book:hover .book__img{
    transform: scale(1.05);
}
.book__img--wrapper{
    overflow: hidden;
    border-radius: 4px;
    margin-bottom: 8px;
    display: flex;
}
.book__title{
    font-size: 20px;
    margin-bottom: 8px;
}
.book__rating{
    color: #fabf2a;
    margin-bottom: 8px;
}
.book__price--normal{
    color: #bfbfbf;
    text-decoration: line-through;
    padding-right: 8px;
}
.book__title:hover{
    text-decoration: underline;
    cursor: not-allowed;
}
.row__column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#explore{
    background-color: rgba(115, 66, 214, 0.1);
}
footer{
    background-color: #242424;
}
.footer__img{
    width: 160px;
    filter: grayscale(1) invert(1);
}
.footer__links{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 24px 0;
}
.footer__link{
    padding: 0 8px;
    color: white;
}
.no-cursor:hover{
    cursor: not-allowed;
}
.footer__copyright{
    color: white;
}
.btn__menu{
    background-color: transparent;
    border: none;
    font-size: 40px;
    text-align: center;
    color: #3aace0;
    display: none;
}
.menu__backdrop{
    position: absolute;
    background-color: #242424;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease;
    
}
.menu--open .menu__backdrop{
    visibility: visible;
    opacity: 1;
}
.menu--open{
    max-height: 100vh;
    overflow-y: hidden;
}
.btn__menu--close{
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
}
.menu__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menu__link{
    color: white;
    font-size: 40px;
}
.menu__list{
    padding: 32px 0;
}
@media (max-width:550px){
    .nav__link{
        display: none;
    }
    .btn__menu{
        display: block;
    }
    .book{
        width: 50%;
    }
    .highlight{
        width: 100%;
    }
    .highlight:not(:last-child){
        margin-bottom: 24px;
    }
}
@media (max-width:768px){
    .header__description{
        padding: 0 24px;
    }
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 26px;
    }
    button{
        font-size: 18px;
    }

}
